<!DOCTYPE html>

<html>
<head>
    <script src="~/Content/jQuery/jquery-3.2.1.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.bundle.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - CoreBB</p>
        </footer>
    </div>
</body>
</html>
